<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Download Successful</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+WyBsm9aY5PNIpkDxhFnoFqNGgFt9U8tbvW" crossorigin="anonymous">
</head>
<body class="bg-light">
    <div class="container mt-5">
        <h1 class="mb-4">Download Successful</h1>
        <p class="lead">Playlist Title: {{ playlist_title }}</p>
        <p class="lead">Download link: <a href="{{ url }}" target="_blank">{{ url }}</a></p>
        <a href="/" class="btn btn-success">Go back</a>
    </div>
</body>
</html>
